body {
    background-color: #000;
    color: #a8a7a6;
    font-family: Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin:0 auto;
}

header {
    border-bottom: 1px solid gray;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    width: 150px;
    display: inline-block;
}

header .container nav ul li {
    display: inline-block;
}

header .container nav ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-right:20px;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.parallax .content-wrapper {
    margin: auto 5% 3rem;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
    color: #fff;
}
.parallax .content-wrapper button {
    text-transform: uppercase;
    padding:10px 20px;
    border:2px #fff solid;
    background-color: transparent;
    color: #fff;
}

.parallax .content-wrapper button:hover {
    background-color: #fff;
    color:#000;
}

.parallax .content-wrapper button.bg-white {
    background-color: #fff;
    color:#000;
}

.parallax .content-wrapper button.bg-white:hover {
    background-color: inherit;
    color:#fff;
}


footer {
    margin:50px 0;
    color:#fff;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .container ul {
    list-style: none;
    margin:0;
    padding: 0;
}

footer .container ul li {
    margin: 10px 0;
}

footer .container a {
    color: #808080;
    text-decoration: none;
}
