body {
    background-color: #000;
    color: #a8a7a6;
    font-family: Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin:0 auto;
}

header {
    border-bottom: 1px solid gray;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    width: 200px;
    display: inline-block;
}

header .container nav {
    margin:10px 0;
}

header .container nav ul li {
    display: inline-block;
}

header .container nav ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-right:20px;
}

header .container nav ul li:hover a {
    color: #afafaf;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.parallax .content-wrapper {
    margin: auto 5% 3rem;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
    color: #fff;
}

.button {
    text-transform: uppercase;
    padding:10px 20px;
    border:2px #fff solid;
    background-color: transparent;
    color: #fff;
}

.button:hover {
    background-color: #fff;
    color:#000;
}

.button.bg-full {
    background-color: #fff;
    border-color: #fff;
    color:#000;
}

.button.bg-full:hover {
    background-color: transparent;
    color:#fff;
}

footer {
    margin:50px 0;
    color:#fff;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .container ul {
    list-style: none;
    margin:0;
    padding: 0;
}

footer .container ul li {
    margin: 10px 0;
}

footer .container ul li a {
    color: #808080;
    text-decoration: none;
}

footer .container ul li:hover a {
    color: #cccccc;
}

.parallax.bg-light .content-wrapper * {
    text-shadow: 0 0 6px #888888;
}

/* Theme yellow modifiers */

.theme-yellow {
    background-color: #272727;
    color: #fff;
    font-family: 'Times New Roman', serif;
}

.theme-yellow .button.bg-full {
    background-color: #fdc415;
    border-color: #fdc415;
    color:#000;
}

.theme-yellow  .button.bg-full:hover {
    background-color: inherit;
    color: #fdc415;
}

.theme-yellow header nav ul li a {
    color: #a3a3a3;
}

.theme-yellow header nav ul li:hover a {
    color: #fdc415;
}

.theme-yellow .parallax .content-wrapper h2 {
    color: #fdc415;
}

.theme-yellow .button {
    border-color: #fdc415;
    color: #fdc415;
}

.theme-yellow .button:hover {
    background-color: #fdc415;
    color: #000;
}

.theme-yellow footer h3 {
    color: #fdc415;
}

.theme-yellow footer ul li a {
    color: #a3a3a3;
}
