<header>
    <div class="container">
        {% include 'components/atoms/logo/logo.html.twig'
            with {
               src: logoSrc | default('')
            }
        %}
        <nav>
            {% include 'components/molecules/list/list.html.twig'
                with {
                    items: menuItems | default([])
                }
            %}
        </nav>
    </div>
</header>
