<header >
    <div class="container">
        <a href="#" class="logo">
            <img src="https://assets.noblechairs.com/assets/noblechairs/images/logo.svg" alt="">
        </a>
        <nav>
            <ul>
                <li>
                    <a href="#">Limited Editions</a>
                </li>
                <li>
                    <a href="#">Premium Stühle</a>
                </li>
                <li>
                    <a href="#">Zubehör</a>
                </li>

            </ul>
        </nav>
    </div>
</header>
