<div class="parallax" style="background-image: url('{{ props.src  }}?auto=compress,format&amp;fit=max&amp;q=70')">
    <div class="content-wrapper">
        <h1>
            {{ props.title | default('HEADING') }}
        </h1>
        <p>
            {{ props.description | default('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, sequi.') }}
        </p>
        <div>
            <button class="button">
                {{ props.cta | default('Lorem ipsum') }}
            </button>
        </div>
    </div>
</div>
