<footer>
    <div class="container">
        <div>
            {% include 'components/atoms/button/button.html.twig'
                with {
                    cta: button.title,
                    class: button.class | default('')
                }
            %}
        </div>
        <div>
            {% include 'components/atoms/heading/heading.html.twig'
                with {
                    title: section_1.title,
                    level: 3
                }
            %}
            {% include 'components/molecules/list/list.html.twig'
                with {
                    items: section_1.items
                }
            %}
        </div>
        <div>
            {% include 'components/atoms/heading/heading.html.twig'
                with {
                    title: section_2.title,
                    level: 3
                }
            %}
            {% include 'components/molecules/list/list.html.twig'
                with {
                    items: section_2.items
                }
            %}
        </div>
        <div>
            {% include 'components/atoms/heading/heading.html.twig'
                with {
                    title: section_3.title,
                    level: 3
                }
            %}
            {% include 'components/molecules/list/list.html.twig'
                with {
                    items: section_3.items
                }
            %}
        </div>
    </div>
</footer>
