<footer>
    <div class="container">
        <div>
            <div class="icons">
                <a href=""></a><a href=""></a><a href=""></a><a href=""></a><a href=""></a>
            </div>
            <button>
                FAQ & Contakt
            </button>
        </div>
        <div>
            <h3>Shop</h3>
            <ul>
                <li><a href="#">Premium Stühle</a></li>
                <li><a href="#">Limited Editions</a></li>
                <li><a href="#">Zubehör</a></li>

            </ul>
        </div>
        <div>
            <h3>Informationen</h3>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Rückgabe</a></li>
                <li><a href="#">International Resellers</a></li>
            </ul>
        </div>
        <div>
            <h3>Informationen</h3>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Rückgabe</a></li>
                <li><a href="#">International Resellers</a></li>
            </ul>
        </div>
    </div>
</footer>
