<footer>
    <div class="container">
        <div>
            <div class="icons">
                <a href=""></a><a href=""></a><a href=""></a><a href=""></a><a href=""></a>
            </div>
            <button>
                FAQ & Contakt
            </button>
        </div>
        <div>
            {% include 'components/atoms/heading/heading.html.twig'
                with {
                title: 'Shop',
                level: 3
            }
            %}
            {% include 'components/molecules/list/list.html.twig'
                with {
                    items: [
                        { title: 'Premium Stühle', link: '#faq' },
                        { title: 'Limited Editions', link: '#editions' },
                        { title: 'Zubehör', link: '#ruckgabe' },
                        { title: 'International Resellers', link: '#resellers' }
                    ]
                }
            %}
        </div>
        <div>
            {% include 'components/atoms/heading/heading.html.twig'
                with {
                    title: 'Zubehör',
                    level: 3
                }
            %}
            {% include 'components/molecules/list/list.html.twig'
                with {
                    items: [
                        { title: 'FAQ', link: '#faq' },
                        { title: 'Limited Editions', link: '#editions' },
                        { title: 'Rückgabe', link: '#ruckgabe' },
                        { title: 'International Resellers', link: '#resellers' }
                    ]
                }
            %}

        </div>
        <div>
            {% include 'components/atoms/heading/heading.html.twig'
                with {
                    title: 'Informationen',
                    level: 3
                }
            %}
            {% include 'components/molecules/list/list.html.twig'
                with {
                    items: [
                        { title: 'Rückgabe', link: '#ruckgabe' },
                        { title: 'Zubehör', link: '#faq' },
                        { title: 'Limited Editions', link: '#editions' },
                        { title: 'Premium Stühle', link: '#faq' },
                    ]
                }
            %}
        </div>
    </div>
</footer>
